{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>{% block title %}Food Tracker{% endblock %}</title>
        <link rel='icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'>
        
        <!-- Icons -->
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel='stylesheet'>

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap' rel='stylesheet'>

        <!-- Bootstrap CSS -->
        <link href='{% static "css/bootstrap.min.css" %}' rel='stylesheet'>

        <!-- Custom styles -->
        <link href='{% static "css/styles.css" %}' rel='stylesheet'>
    </head>

    <body>

        <nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
            <div class='container-fluid'>
                <a class='navbar-brand' href="{% url 'index' %}">
                    <i class='fas fa-pepper-hot fa-2xl'></i> Food Tracker
                </a>
                <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor' aria-controls='navbarColor' aria-expanded='false' aria-label='Toggle navigation'>
                    <span class='navbar-toggler-icon'></span>
                </button>
                
                <div class='collapse navbar-collapse' id='navbarColor'>
                    <ul class='navbar-nav me-auto'>
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'index' %}">
                                <i class='fas fa-list'></i> Food List
                            </a>
                        </li>

                        <li class='nav-item dropdown'>
                            <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
                                <i class='fas fa-pizza-slice'></i> Food Categories
                            </a>
                            <div class='dropdown-menu'>
                                {% for category in categories %}
                                <a class='dropdown-item' href="{% url 'category_details_view' category.category_name %}">
                                    {{ category }} &nbsp;
                                    <span class='badge bg-primary'>
                                        {{ category.count_food_by_category }}
                                    </span>
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                            <li class='nav-item'>
                                <a class='nav-link' href="{% url 'food_add' %}">
                                    <i class='far fa-plus-square'></i> Add Food Item
                                </a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link' href="{% url 'food_log' %}">
                                    <i class='fas fa-utensils'></i> Food Log
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class='navbar-nav ms-auto'>
                        {% if user.is_authenticated %}
                        <li class='nav-item dropdown'>
                            <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
                                <i class='fas fa-user fa-fw fa-lg'></i>
                            </a>
                            <div class='dropdown-menu dropdown-menu-end'>
                                <a class='dropdown-item' href="{% url 'weight_log' %}">
                                    <i class='fas fa-user'></i> User Profile
                                </a>
                                <div class='dropdown-divider'></div>
                                <a class='dropdown-item' href="{% url 'logout' %}">
                                    <i class='fas fa-sign-out-alt'></i> Log Out
                                </a>
                            </div>
                        </li>
                        {% else %}
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'login' %}">
                                <i class='fas fa-sign-in-alt'></i> Log In
                            </a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'register' %}">
                                <i class='fas fa-user-plus'></i> Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class='container'>
                {% block body %}
                {% endblock %}
            </div>
        </main>

        <footer class='py-4'>
            <div class='d-flex align-items-center justify-content-center'>
                <div class='text-center'>
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Bob's Programming Academy.
                </div>
            </div>
        </footer>

        {% block script %}
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
        {% endblock %}

    </body>
</html>